PORT=3000
NODE_ENV=development

DB_URL="mongodb+srv://kartikmishra3000_db_user:fwbNZAJDC6kkSZkw@cluster0.2chj9tn.mongodb.net/?appName=Cluster0"

INNGEST_EVENT_KEY="_HMxZWPBK-k6UU6eda9oHG0vgRnAp8UxHuTL8-ep9f-MkonBfXhsZ7PTFt-U-cjgUBZfYbKCD_OiNWzVyknM9A"
INNGEST_SIGNING_KEY="signkey-prod-ef9a58ba90422d4ef242abe626fc0c9b8f4b43a3ba8a3227a7082c0b7ffe3569"

STREAM_API_KEY="p2vwsf9kswy3"
STREAM_API_SECRET="m3zk5m3refbnu2df6z9u6cnvwykurpw3d7wxnx4j9h8dp9rcfxnqrpqxrsx75ttc"

CLERK_PUBLISHABLE_KEY="pk_test_cmVzdGVkLWdhbm5ldC03Ny5jbGVyay5hY2NvdW50cy5kZXYk"
CLERK_SECRET_KEY="••••••••••••••••••••••••••••••••••••••••••••••••••"

CLIENT_URL=http://localhost:5173